.baslik{

    font-family:monospace;
    color: white;
    font-size: 80px;
    margin-top: 30px;
    display: inline-block;
    
}
.baslikresim{

    width: 150px;
    height: 150px;
  
}
.menu{
    width: 100%;
    height: 50px;
    background-color: black;
    margin-top: 35px;
    border-top: 5px;
    border-bottom: 5px;
    border-left: 0px;
    border-right: 0px;
    border-style: solid;
    border-color: white;
    text-align: center;


}
.resimkenar{
    border: 10px;
    border-style: solid;
    border-color: black;
    border-radius: 15px;



}
.firsatdiv{

    background-color: white;
    border: 10px;
    border-style: solid;
    border-color: black;
    width: 580px;
    height: 505px;
    float: right;
    margin-top: 10px;
    border-radius: 15px;
    text-align: center;



}
.aciklamadiv{

    background-color: white;
    border: 10px;
    border-style: solid;
    border-color: black;
    width: 970px;
    height: 505px;
    float: right;
    margin-top: 10px;
    border-radius: 15px;
    text-align: center;





}
.aciklamadiv2{
    background-color: white;
    border: 10px;
    border-style: solid;
    border-color: black;
    width: 980px;
    height: 253px;
    float: right;
    margin-top: 10px;
    border-radius: 15px;
    text-align: center;

}
